.card-header {
  background-color: #199bd9;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}
.breadcrumb {
  padding: 0.75rem;
  background-color:transparent;
}
.file-wrdwrap {
  width: 41%;
  word-break: break-word;
}
.closebtn{
  color:#fff;
}

p {
  font-size: 14px !important;
  font-weight: 500 !important;
}

table {
  width: 100%;
}
img.loader {
  margin: 0px 2px 0px 1px;
  width: 240px;
}
.msgtext{
  padding-left:10px;
}
hr {
  margin: 7px 0px;
}

.card-header {
  padding: 0px 0px;
}

  .card-header .row .col-xs-12 div {
    padding: 9px 0px;
  }

  .card-header .row .col-md-1 a {
    margin: 0 auto;
    display: table;
    color: inherit;
  }

  .card-header .row {
    margin-right: 0px;
    margin-left: 0px;
  }

    .card-header .row .col-md-1 {
      font-size: 16px;
      font-weight: 300;
      padding: 4px 15px;
    }

.card-body mat-header-row {
  background-color: #ddf0f9;
}

.card-body mat-table mat-header-cell {
  font-weight: 600;
}

.card-body mat-cell {
  font-size: 12px;
}

.body {
  padding: 20px 5px;
}

.card-body .heading {
  font-weight: 600 !important;
  color: #545454 !important;
  font-size: 16px !important;
  background-color: #addef5;
  /* padding: 3px 10px; */
  margin: 5px 10px;
}

.view-card {
  margin-bottom: 5px;
}

.card-body p {
  font-size: 14px;
  color: #000
}

td {
  font-size: 14px;
  font-weight: 500;
}

th {
  font-size: 13px;
  font-weight: 600;
  width: 35%;
}

.dropicon{
  float: right;
    margin: 4px 10px;
}

.headings {
  margin: 0;
  color: #545454 !important;
  background-color: #addef5;
  margin-top: 5px;
  height: 35px;
}

.topbar span {
  float: right;
}

/*table th {
  width: 25%;
}*/

/*.row {
  margin-bottom: 7px;
}*/

.mat-raised-button {
  /* margin-top: 13px;
  line-height: 50px; */
  width: 9em;
  background-color: #199bd9;
  color: #FFFFFF;
  float: right;
  margin-right: 3px;
}

::ng-deep .mat-form-field {
  width: 100%;
}

.modal-header1 {
  padding: 15px 15px;
  border-bottom: 1px solid #dee2e6;
}

.mat-raised-button[disabled] {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
  color: #ffffff !important;
}

.table-heading {
  background-color: #DDF0F9;
}


.showhide {
  margin-top: 0px;
  padding: 0px;
  font-size: 15px;
  float: right;
}

#print-section{ display: none;}

#print-section .logo-print{
  float: right;
  width: 300px;
}
#print-section .headings {
  background-color: #f7f7f7 !important;
}
.down-btn {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.filename{
  margin:0px 8px 0px 0px
}


