<mat-card>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <img src="../../assets/img/jacksonlogo.png" class="logo">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <nav class="main-nav">
          <a mat-list-item routerLink="dashboard" routerLinkActive="active-list-item">Dashboard</a>
          <span *ngIf="currentrole != 'Pathologist';else otherrole">
            <a mat-list-item routerLink="samplelist/MySample" routerLinkActive="active-list-item">Sample</a>
          </span>
          <ng-template #otherrole>
            <a mat-list-item routerLink="samplelist/All" routerLinkActive="active-list-item">Sample</a>
          </ng-template>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="helpsection">
          <p class="title">Need Help ?</p>
          <p>
            <span class="mdi mdi-phone mdi-18px"></span> <span> &nbsp;&nbsp;&nbsp;</span>
            <span class="mdi mdi-email-outline mdi-18px"></span> <span></span>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <nav class="notification-nav">
          <p>
            <button mat-button [matMenuTriggerFor]="menu"> <i class="mdi mdi-chevron-down mdi-18px"></i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logOut()">Logout</button>
            </mat-menu>
          </p>
        </nav>
      </div>
    </div>
  </div>
</mat-card>
