.logo{
  width: 90%;
  margin: 10px 5px;
}

.main-nav a{
  display: inline-block;
  color:#333 !important;
  text-decoration: none;
}
.notification-nav p{
  display: inline-block;
  vertical-align: middle;
  margin: 15px 10px;
}
.notification-nav{
  float: right;
}
.mat-card {
  padding: 0px 16px;
  border-radius: 0px;
  color: black;
  background: #fff;
}
nav a {
  padding: 24px 30px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight:  500;
}
.active-list-item {
  color: #199bd9 !important;
  border-bottom: solid 3px #199bd9 !important;
  background-color: transparent;
}
.profile-img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin:0 auto;
  border-radius: 25px;
}
.mat-button {
  color: #333 !important;
}



/* Media Query */

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) and (max-width: 1279px) {
  
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
 
}

@media screen and (min-width: 1601px) and (max-width: 2500px) {
  .logo{ width:70%; }
}

.helpsection {
  margin: 12px 0px;
}

  .helpsection .title {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #525252;
  }

  .helpsection p {
    margin-bottom: 0;
  }

    .helpsection p > span:nth-child(1), .helpsection p > span:nth-child(3) {
      color: #199bd9;
    }

    .helpsection p > span:nth-child(4), .helpsection p > span:nth-child(2) {
      position: relative;
      top: -2px;
      left: 2px;
    }

      .helpsection p:last-child {
        font-size: 14px;
        font-weight: 500;
        color: #333;
        letter-spacing: 1px;
      }
 
