.mat-card {
  display: none !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #009bde !important;
}

.login-page .example-button-row {
  width: 70%;
    /* text-align: center !important; */
    margin: auto;
    display: table;
}
.login-page a{
text-align: right;
    display: block;
    margin-bottom: 20px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.login-page .text-center {
  font-size: x-small;
  padding-bottom: 30px;
  padding-left: 5px;
}

.login-page .text-center1 {
  font-size: 18px;
  margin-bottom: 15px;
}

.login-page p {
  font-family: 'Montserrat';
}
.login-page .logo{
  width: 28%;
}
.login-page .left {
  background-image: url('../../../../assets/img/bg.jpg');
  background-size: cover;
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

  .login-page .left .content {
    width: 100%;
    padding: 0px 25px;
  }

    .login-page .left .content h2 {
      color: #fff;
      /* text-transform: uppercase; */
      font-family: 'Montserrat';
      font-size: 20px;
      font-weight: 600;
    }

    .login-page .left .content p {
      color: #fff;
      font-family: 'Montserrat';
    }

  .login-page .left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #199bd9;
    opacity: .3;
    z-index: -1;
  }

.login-page .right {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

  .login-page .right .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
  }

.login-page .right {
  background-color: #fff;
}

.login-page .example-button-row button {
  background-color: #31aae2;
  color: #fff;
  width: 100%;
  font-family: 'Montserrat';
}
.login-page a{
color: #077abb;
    font-weight: 600;
}







a {
  font-size: .90em;
}

.reg {
  font-size: .80em;
}

a:link {
  text-decoration: underline !important;
}

.example-pass {
  padding-left: 1px;
  padding-right: 2px;
  right: -5px;
}

.example-regi {
  padding-left: 42px;
  padding-right: 0px;
  right: -23px;
}

.reg-text {
  margin-top: .75rem;
}


/* Media Query */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login-page .left, .login-page .right {
    min-height: 40vh
  }

    .login-page .left .content h2 {
      font-size: 22px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .login-page .left, .login-page .right {
    min-height: 40vh
  }

    .login-page .left .content h2 {
      font-size: 22px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .login-page .row {
    width: 90% !important;
  }

  .login-page .text-center {
    font-size: medium;
  }

  .login-page .example-button-row button {
    height: 45px !important;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .login-page .row {
    width: 90% !important;
  }

  .login-page .text-center {
    font-size: medium;
  }

  .login-page .example-button-row button {
    height: 45px !important;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2500px) {
  .login-page .row {
    width: 90% !important;
  }

  .login-page .text-center {
    font-size: medium;
  }

  .login-page .example-button-row button {
    height: 45px !important;
  }
}
