<div class="login-page">
  <div class="row col-center-fix">
    <!-- <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div> -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-7 left">
      <div class="content">
        <h2>Personal Finance Management</h2>

      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 right">
      <div class="content">
        <img src="../../../assets/img/finance/logo.png" class="logo col-center">
        <!-- <p class="text-center">Empowering research for a disease-free life.</p> -->
        <div class="example-container">
          <div class="example-button-row">
            <p class="text-center1 text-center">Login into Your Account</p>



            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div> -->
              <div>
                <mat-form-field>
                  <input matInput placeholder="Username">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput placeholder="Password">
                </mat-form-field>
              </div>

              <div>
                <a>Forgot Password ?</a>
              </div>

              <div>
                <button mat-raised-button>Login</button>
              </div>


            </form>




            <!-- <a routerLink="/azu"><button mat-raised-button class="btn btn-primary">LOGIN</button></a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div> -->
  </div>
</div>