h4 {
  color: #199bd9;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
  width: 100% !important;
}
.breadcrumb {
  padding: 15px 0px;
  margin-bottom: 0rem;
  background-color: transparent;
}
.faxerror {
  position: relative;
  top: -10px;
  left: 3px;
  font-size: 14px;
}
.errmsg {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 85%;
  margin-left: 3px;
  color: #f13e05;
}
.mat-form-field-wrapper {
  padding-bottom: 0em !important;
}
.footervalid-font {
  color: #ff5722;
  padding: 15px;
}
.emailerror {
  position: relative;
  top: -8px;
  left: 3px;
  font-size: 14px;
}
.othername {
  position: relative;
  top: -22px;
  left: 3px;
  font-size: 14px;
}


.breadcrumb li {
  font-size: 12px;
}
.mat-button[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12);
}

mat-error p {
  margin-bottom: 0px;
}


.gen {
  margin: 10px;
}

.dnone {
  display: none;
}

/* img {
  margin: 0px 2px 0px 1px;
  width: 240px;
} */

.card-header {
  background-color: #199bd9;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}
img.loader {
  margin: 0px 2px 0px 1px;
  width: 240px;
}
.msgtext{
  padding-left:10px;
}

.mat-stepper-horizontal {
  background-color: #f1efef !important;
}

.mat-horizontal-content-container {
  padding: 0px !important;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
.mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #199bd9 !important;
  margin-left: 5px !important;
}

[type=submit]:not(:disabled), button:not(:disabled) {
  background-color: #199bd9;
  color: #fff;
  float: right !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0 !important;
}

.mat-button {
  margin: 10px;
}

th {
  font-weight: 600;
  font-size: 13px;
  background-color: transparent;
  color: #494949;
  width:35%;
}
td {
  font-size: 14px;
  font-weight: 500;
}

.customcard .card-header {
  padding: 0 1.25rem !important;
}

  .customcard .card-header .row .adrowbtn {
    background-color: #037bb4;
    border-top-right-radius: 2px;
    padding: 10px 0px;
  }

  .customcard .card-header .row {
    margin-right: -20px;
  }

    .customcard .card-header .row .adrowbtn p {
      font-size: 14px;
      margin-bottom: 0px;
      padding: 7px 0px;
      text-align: center;
    }

  .customcard .card-header .col-lg-6, .customcard .card-header .col-lg-3, .customcard .card-header .col-lg-2 {
    padding: 10px 10px;
  }

.customcard p {
  margin: 0;
}

.addrow {
  cursor: pointer;
}

.form-control {
  font-size: 14px;
}

.card-body {
  overflow-x: auto;
  padding-bottom: 50px;
}

  .card-body button {
    float: right;
  }

.nofsample {
  font-size: 14px;
  margin-top: 5px !important;
  text-align: right;
}

.mat-checkbox-label {
  font-size: 16px !important;
}

.mat-checkbox-frame {
  border-color: rgb(255, 255, 255) !important;
}

.status {
  width: 25%;
}

::ng-deep .mat-checkbox-inner-container {
  margin-left: 8px !important;
}

.mat-checkbox {
  font-family: Montserrat;
  font-size: 13px;
  /* background: #199bd9; */
  /* margin: 0px 0px 0px 65px; */
  margin: 0px 25px;
}

.textcheck .mat-checkbox {
  margin: 0px 0px 0px 0px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: rgb(25, 155, 217) !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #199bd9 !important;
}

.spntext {
  font-size: 14px;
  padding: .50em 1em;
}

.poollib {
  padding-top: .50em;
}

.table2 {
  width: 320%;
}

.table1 {
  width: 210%;
}

.skip-btn {
  position: absolute !important;
  right: 20px !important;
  bottom: 30px !important;
}

.continue-btn {
  position: absolute;
  right: 95px;
  bottom: 30px;
}

.specimen {
  margin: 20px 0px;
  font-size: 15px;
}

.spc1 {
  margin-bottom: 10px;
}

.label {
  font-size: smaller;
  margin: 0px 105px 0px 15px;
}

.mat-radio-button {
  /* margin-left: 16px; */
  margin: 10px 34px 1px 25px;
  font-size: smaller;
}

.testcheck {
  margin-left: 2px !important;
}

.skipbtn {
  margin-right: 10px;
}

.include {
  margin: 6rem;
  padding: 10px;
  font-style: italic;
}

.modal-dialog {
  max-width: 90% !important;
}

  .modal-dialog .modal-body table > th {
    background-color: transparent !important;
  }

.modal-body {
  height: 75vh;
  overflow: auto;
}

.modal-dialog .table-bordered td, .modal-dialog .table-bordered th {
  border-left: 0px !important;
  border-right: 0px !important;
}

.modal-dialog .table td, .modal-dialog .table th {
  vertical-align: middle !important;
  background-color: transparent !important;
}




table {
  width: 100%;
}

hr {
  margin: 7px 0px;
}

.headings {
  margin: 0;
  color: #545454 !important;
  background-color: #addef5;
  margin-top: 5px;
  height: 35px;
}

.topbar span {
  float: right;
}

.view-card {
  margin-bottom: 5px;
}
.table .th{
  background-color:white;
}
.fieldvalue {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px !important;
}

.fieldkey {
  font-size: 14px;
  font-weight: 600;
  color: #494949;
  margin-bottom: 0px !important;
}

.custom-modal-body, .custom-card-body {
  padding: 0px !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal-dialog {
    max-width: 500px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .modal-dialog {
    max-width: 1000px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .modal-dialog {
    max-width: 1000px !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  .modal-dialog {
    max-width: 1200px !important;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1439px) {
  .modal-dialog {
    max-width: 1200px !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .modal-dialog {
    max-width: 1400px !important;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .modal-dialog {
    max-width: 1520px !important;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .modal-dialog {
    max-width: 2000px !important;
  }
}

.showhide {
  top: -10px;
  margin-right: -20px;
  background-color: #addef5 !important;
  color: black !important;
}
.view-card .headings {
  height: 37px;
  margin-top: 5px;
}
 .heading {
  margin-top: 7px;
  margin-bottom: 0px;
}
.view-card {
  margin-bottom: 5px;
}
  .view-card .body {
    padding: 20px 5px;
  }
.view-card table > td, .view-card table > th {
  background-color: transparent !important;
}
.message {
  color: #28a745;
  text-align: right;
  font-weight: bold;
}

.delete-modal {
  width: 35%;
  height: 8rem;
  align-items: center;
  margin-left: 25rem;
}

.submit {
  margin: 5px 120px 5px 105px;
}

::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 0.2em !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0px 0.5em  !important;
}
.informmsg{
  padding: 7px;
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
}
