/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/materialdesignicons.min";

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Thin.woff2') format('woff2'), url('assets/fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'), url('assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('assets/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('assets/fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Black.woff2') format('woff2'), url('assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.col-center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.col-center-fix {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
  margin: 75px 0px;
}

.mat-dialog-container {
  padding: 0px !important;
}

.mat-radio-label {
  margin-bottom: 0px !important;
}

body {
  overflow-x: hidden;
  background-color: #f1efef !important;
}

.custom-container {
  padding-left: 60px;
  padding-right: 60px;
}

p, h1, h2, h3, h4, small, mat-header-cell, mat-cell, .mat-button, .card, li, td, th {
  font-family: 'Montserrat';
}

.msgtext h4 {
  color: #fff !important;
}

a {
  text-decoration: none !important;
}

.logo {
  width: 35%;
  margin-bottom: 20px;
}

.login-page .mat-form-field-label-wrapper {
  top: -1.4em !important;
}

.login-page .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 1em 0;
}

.login-page .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 10px !important;
}

.breadcrumb {
  padding: 15px 0px;
  margin-bottom: 0rem;
  background-color: transparent;
}

  .breadcrumb li {
    font-size: 12px;
  }

.loader-container {
  position: relative;
  text-align: center;
  color: white;
  z-index: 100000;
}

.mat-datepicker-toggle-default-icon {
  position: relative !important;
  top: -7px !important;
}

.mat-input-element {
  position: relative !important;
  top: -7px !important;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
/* Header */

/* Dashboard */
.mat-header-cell {
  color: #333;
  font-weight: 700 !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button[disabled]:not([class*='mat-elevation-z']) {
  float: right !important;
}

body div.cdk-overlay-container {
  z-index: 1000000;
}

.messagebox {
  background-color: #199BD9 !important;
  color: #fff !important;
  font-family: 'Montserrat' !important;
  position: absolute !important;
  bottom: 0 !important;
  z-index: 9999 !important;
  width: 60% !important;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 15px !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.59);
}

.msgtext h4 {
  margin-top: 3px !important;
  font-size: 18px !important;
}

.messagebox p {
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 500;
  cursor: pointer;
}

.messagebox div {
  display: table-cell;
  vertical-align: middle;
}

  .messagebox div:last-child {
    padding-left: 10px !important;
  }

.messagebox img {
  width: 30px;
}

.messagebox h4 {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #199bd9;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  .login-page .mat-form-field-infix{
    border-bottom: 1px solid #ccc;
    }
    .login-page .mat-form-field{
      width: 100%
    }
