table {
  width: 100%;
}
.norecord {
  padding: 14px 33rem;
  font-weight: 500;
}
.fileUploadName {
  margin-top: 4px;
  margin-bottom: 4px;
}
.matfaxerror{
  margin-top:12px !important;
}
.path-footer {
  display: inline-block !important;
}
.path-footer .mat-raised-button{
  float:right;
}
.footervalid-font {
  color: #ff5722;
}
.filepreview {
  width: 400px;
  word-break: break-all;
}
.modal-body{
  margin-bottom:30px;
}
.fileinfo {
  color: #269434;
  font-size: small !important;
  position: relative;
  top: -1em;
  left: 0px;
}
.fileuptitle {
  margin-bottom: 0px;
  margin: 10px 0px;
  font-weight: 600;
  font-size: 12px;
}

.deleteico {
  background-color: #199bd9;
  color: #fff;
  padding: 2px 4px;
  border-radius: 25px;
}
a {
  color: inherit;
  text-decoration: none;
}
.mat-table {
  background: #fff;
}
.card-body .ser-header .mat-form-field {
  font-size: 14px;
  width: 100%;
  height: 48px;
}
.modal-body .view-card .body .row .mat-form-field {
  width: 100%;
  font-size: 14px;
}
.mat-paginator {
  background: #fff;
  color: black;
}
.mat-option{
  position: relative;
  z-index: 999;
}
.mat-form-field th{
  font-size: 18px;
  font-weight: 600;
}
.errmsg {
  margin-top: -18px;
  margin-bottom: 0rem;
  font-size: 75%;
  margin-left: 3px;
  color: #e4582b;
}
.emailerror {
  position: relative;
  top: -8px;
  left: 7px;
  font-size: 14px;
}
.error {
  position: relative;
  top: 14px;
  left: 7px;
  font-size: 14px;
}
.faxerror {
  position: relative;
  top: 0px;
  left: 8px;
  font-size: 14px;
}

td, th {
  width: 5%;
}

.modal-path{
  color:#199bd9;
}
.radio-report{
  margin-left: 30px !important;
    margin-right: 4px !important;
}
.mat-radio-button {
  /* margin-left: 16px; */
  margin: 4px 25px 10px -4px;
  padding: 0px 8px 0px 7px;
}
.reports {
  font-size: smaller !important;
  margin-left: 40px;
}

.modal-dialog{
  max-width:70% !important;
}
.mat-raised-button, .mat-fab, .mat-mini-fab {
  color: white;
  background-color: #199bd9;
}
.modal-header{
  padding: 9px 15px;
  border-bottom: 1px solid #dee2e6;
  background-color: #199bd9;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  color:white;
}
.breadcrumb{
  padding: 15px 0px;
  margin-bottom: 0rem;
  background-color: transparent;
}
.breadcrumb li{
  font-size: 12px;
}
.ser-header{
  padding: 0px 22px;
}
.card-header{
  background-color: #199bd9;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}
.card-body{
  padding: 0;
}
tr.mat-header-row {
  height: 45px;
}
.card-header {
  padding: 0px 0px;
}
.card-header .row .col-xs-12 div {
    padding: 9px 0px;
}
.card-header .newsubbtn {
  text-align: center;
}
.card-header .row .col-md-2 {
  background-color: #037bb4;
  border-top-right-radius: 2px;
}
h4{
  font-size:18px;
}
.modal-header .close {
  padding: 15px;
}
.mat-header-cell {
  color: black !important;
}
.card-header .row{
  margin-right: 0px;
  margin-left: 0px;
}
.card-header .row .col-md-2{
  font-size: 14px;
  font-weight: 400;
  padding: 4px 12px;
}
.card-body mat-header-row{
  background-color: #ddf0f9;
}
.card-body mat-table mat-header-cell{
  font-weight: 600;
}
.card-body mat-cell{ font-size: 12px;}
.mat-table .mat-header-cell{
  font-weight: 600;
}
.mat-table .mat-header-row{
  background-color: #DDF0F9;
}
img.loader {
  margin: 0px 2px 0px 1px;
  width: 240px;
}
.msgtext{
  padding-left:10px;
}
.mat-table img {
  margin: 0px 2px 0px 1px;
  width: 28px;
}
.patholog{
  margin-bottom:10px;
}
::ng-deep  .mat-radio-outer-circle {
  border-color: rgb(25, 155, 217) !important;
}
::ng-deep .mat-radio-inner-circle {
  background-color: rgb(25, 155, 217) !important;
}
.samp-repo{
  margin-top:7px;
}
.col-lg-12 {
  margin-bottom: 20px;
  font-size: larger;
}
.delete-modal {
  max-width: 300px !important;
}
.delcon-modal {
  padding: 35px 0px;
}
.delclass {
  margin: 5px 6px 10px 6px;
}
.delbtnok{
  margin-right: 5px;
  color: white;
    background-color: #199bd9;
    border: solid 1px #fff;
}
.delbtncancel{
 color: white;
    background-color: #199bd9;
    border: solid 1px #fff;
}
.delbody {
  margin-left: 55px!important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.55em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
.mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.confirmbtn{
  position: absolute;
    top: 10px;
    right: 50px;
}
.pathreview{
  margin-bottom:1rem;
}
::ng-deep .mat-checkbox-layout{
  margin-bottom:1rem;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: rgb(25, 155, 217) !important;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background  {
  background-color: #199BD9 !important;
}
.mat-checkbox-frame {
  border-color: rgb(255, 255, 255) !important;
}
.clickable-point{
  cursor: pointer;
}
.custom-file-label::after {
  color: #ffffff !important;
  background-color: #199bd9 !important;
  padding: 5px 14px !important;
}
.file-upload{ margin-left: 15px;}
.submitted-alert{
  margin-bottom: 0;
    background-color: #f5903a;
    text-align: center;
    color: #fff;
}
.status-yes{
  background-color: #199bd9;
    color: #fff;
    padding: 1px 8px;
    border-radius: 2px;
}
.status-no{
  background-color: #f53636;
    color: #fff;
    padding: 1px 8px;
    border-radius: 2px;
}
.alertmsg{
  padding:7px;
}
/*.page-button {
  top: 25px;
  margin: 1px;
  left: 60rem;
}*/


/*/deep/ .mat-paginator-navigation-previous {
  display: none !important;
}
/deep/ .mat-paginator-navigation-next {
  display: none !important;
}
/deep/ .mat-paginator-range-label {
  display: none !important;
}*/
