.custom-container-dashboard{
  padding: 0px 20px;
}

.norecord {
  padding: 10px 27rem;
  font-weight: 500;
}
.fileUploadName {
  margin-top: 4px;
  margin-bottom: 4px;
}
.filepreview {
  width: 400px;
  word-break: break-all;
}
.fileinfo {
  color: #269434;
  font-size: small !important;
  position: relative;
  top: -1em;
  left: 0px;
}

.fileuptitle {
  margin-bottom: 0px;
  margin: 10px 0px;
  font-weight: 600;
  font-size: 12px;
}

.deleteico {
  background-color: #199bd9;
  color: #fff;
  padding: 2px 4px;
  border-radius: 25px;
}

.mat-card h4 {
  font-family: 'Montserrat';
  font-weight: 500;
}
.mat-card {
  background: #fff;
  color:black;
}

.division p{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
}
.division .stat{
  position: absolute;
  bottom:0;
  right: 25px;
}
.main-stat{
  padding: 0px 0px;
}
.mat-header-cell{
  color:black !important;
}
.main-stat .col-md-3:first-child h4{
    /*font-size: 25px;*/
    line-height:35px;
    font-weight: 500;
   /* margin-top: 8px;*/
    /* color: #353535; */
    font-family: 'Montserrat';
}
.pendingreview p{
  font-weight: 600;
}
.status-month {
  font-weight: 500;
  font-size: 12px;
}
.stat-text{
  padding:0px;
}
.topstatus {
  padding: 16px;
}
.titles{
  margin-top:10px;
}
img.loader {
  margin: 0px 2px 0px 1px;
  width: 240px;
}
.msgtext{
  padding-left:10px;
}
.mat-table img {
  margin: 0px 2px 0px 1px;
  width: 28px;
}
.img-status {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.tmonth {
  margin-left: 35rem;
  font-size: 12px;
  font-weight: 500;
}

.status {
  color: #383838;
  font-weight: 600;
}
.pendingreview{
  margin-top:10px;
}
table {
  width: 100%;
}
.stat-num{
  margin-top:10px;
}
.verti {
  display: flex;
}
.stat-name {
  font-size: 14px;
  font-weight: 500;
  color: #3a3a3a;
}
.pendingreview mat-card {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 10px 20px;
  
}
.pendingreview mat-header-row{
  background-color: #ddf0f9;
}
/* mat-table mat-header-cell{
  font-weight: 300;
} */
.pendingreview mat-cell {
  font-size: 13px;
  color: black;
}
.pendingreview mat-card p {
  color: #383838;
}

.pendingreview mat-row {
  min-height: 55px !important;
  background-color: #fff;
}
.mat-header-row {
  min-height: 45px;
}

.activities p {
  font-weight: 600;
  font-size: 12px;
  /*color:#383838;*/
  color: black;
  margin-bottom: 0;
}
.activities mat-card{
  padding: 12px 20px;
}
.activities .content{
  padding: 10px 0px;
}
.activities .content div{
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.activities .content div:last-child{
  padding-left: 20px;
}
  .activities .content div:last-child p {
    margin-bottom: 0;
    margin-right: -80px;
    display: table-cell;
  }
.activities .content div:last-child>p:nth-child(2){
  font-weight: 500;
    color: #656565;
    position: absolute;
    top: 0;
    right: 0;
}
.activities .content div:last-child small{
  color:#656565;
  font-size: 12px;
}
.activities .content div:last-child p>span{
  float: right;
}

.activities .success-dot{
  color:#39b54a;
}
.activities .heading{ font-size: 14px;}
.top{
  margin-bottom: 20px;
}
.row {
  margin-top: 10px;
}
.act-name {
  color: black !important;
}
.title {
  padding-right: 5px;
}
.division {
  margin-bottom: 5px;
}
mat-cell:last-child,
mat-header-cell:last-child {
  flex: 0 0 12%;
  padding-left: 30px;
}
.countpad {
  padding-left: 5px;
  padding-right: 5px;
}
.counts{
  position: relative;
}
.counts h1{
  position: absolute;
  top:-6px;
  right:0;
}
.loader-container{
  margin-top:10px;
}
.headings {
  background-color: #ebebeb;
  margin-top: 10px;
}
a{
  color: black;
}
.rowver{
  padding: 0px 2px;
  margin-top: 10px;

}
.uaction{
  padding-left: 22px;
}
.rowver .rowverchild{
  display:table-cell;
  vertical-align: middle;
  padding: 2px 79px;
}

.wizard-no{
  background-color: #333;
    padding: 6px 11px;
    border-radius: 25px;
}
.cus-footer{
  position: relative;
}
.cus-footer-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 29px;
  padding: 2px 14px 0;
  margin: 4px 4px 0 0 !important;
}
  .cus-footer-btn span {
    font-size: 13px;
  }
  /* Global CSS, you probably don't need that */
  .clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container {
font-family: 'Lato', sans-serif;
width: 1000px;
margin: 0 auto;
}

.wrapper {
display: table-cell;
vertical-align: middle;
}

.nav {
margin-top: 40px;
}

.pull-right {
float: right;
}

a, a:active {
color: #333;
text-decoration: none;
}

a:hover {
color: #999;
}

/* Breadcrups CSS */
.wizard-out{
  position: relative;
  left: 10px;
}
.step1 .wizard-no{ padding: 5px 11px;}
.step1 .wizard-no{ background-color: #4A839B; color:#fff;}
.step2 .wizard-no{ background-color: #009CDE; color:#fff;}
.step3 .wizard-no{ background-color: #08397A; color:#fff;}
.step4 .wizard-no{ background-color: #605656; color:#fff;}
.step5 .wizard-no{ background-color: #7DA803; color:#fff;}

.current .wizard-no{ background-color: #fff !important; color:#009CDE !important;}
.arrow-steps .current {
  background-color: #009CDE !important;
}
.arrow-steps .current:after{
  border-left: 17px solid #009CDE !important;
}

.arrow-steps .step {
  font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    cursor: default;
    margin: 0 3px;
    padding: 10px;
    min-width: 180px;
    background-color: #f2f2f2;
    float: left;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
  }

.arrow-steps .step:after,
.arrow-steps .step:before {
content: " ";
position: absolute;
top: 0;
right: -17px;
width: 0;
height: 0;
border-top: 22px solid transparent;
border-bottom: 17px solid transparent;
border-left: 17px solid #f2f2f2;
z-index: 2;
transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
right: auto;
left: 0;
border-left: 17px solid #fff;
z-index: 0;
}

.arrow-steps .step:first-child:before {
border: none;
}

.arrow-steps .step:first-child {
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
}

.arrow-steps .step span {
position: relative;
}

.arrow-steps .step span:before {
opacity: 0;
content: "✔";
position: absolute;
top: -2px;
left: -20px;
}

.arrow-steps .step.done span:before {
opacity: 1;
-webkit-transition: opacity 0.3s ease 0.5s;
-moz-transition: opacity 0.3s ease 0.5s;
-ms-transition: opacity 0.3s ease 0.5s;
transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
color: #fff;
background-color: #23468c;
}

.arrow-steps .step.current:after {
border-left: 17px solid #23468c;
}
.mat-header-row{
  background-color: #DDF0F9;
}
.mat-raised-button{
  background-color: #199bd9;
  color:#fff;
}

::ng-deep .mat-checkbox-layout{
  margin-bottom:1rem;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: rgb(25, 155, 217) !important;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background  {
  background-color: #199BD9 !important;
}
.mat-checkbox-frame {
  border-color: rgb(255, 255, 255) !important;
}
::ng-deep  .mat-radio-outer-circle {
  border-color: rgb(25, 155, 217) !important;
}
::ng-deep .mat-radio-inner-circle {
  background-color: rgb(25, 155, 217) !important;
}
.mat-radio-button {
  /* margin-left: 16px; */
  margin: 4px 25px 10px -4px;
  padding: 0px 8px 0px 7px;
}
.alertmsg{
  padding:7px;
}

h4{
  font-size:18px;
}
.custom-file-label::after {
  color: #ffffff !important;
  background-color: #199bd9 !important;
  padding: 5px 14px !important;
}
.file-upload{ margin-left: 15px;}
.submitted-alert{
  margin-bottom: 0;
    background-color: #f5903a;
    text-align: center;
    color: #fff;
}
.mat-raised-button, .mat-fab, .mat-mini-fab {
  color: white;
  background-color: #199bd9;
}
.modal-dialog{
  max-width:70% !important;
}

.modal-header{
  padding: 9px 15px;
  border-bottom: 1px solid #dee2e6;
  background-color: #199bd9;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  color:white;
}

.modal-header .close {
  padding: 15px;
}

.clickable-point{
  cursor: pointer;
}

.actiondate {
  padding-left: 22px;
}
.previewcard{
  padding:0px 20px !important;
}

.active, .rev:active {
  color: #199bd9 !important;
  border-bottom: solid 3px #199bd9 !important;
  background-color: transparent;
}

.rev{ cursor:pointer;}

.pendstate .pendstateinner {
  display: table-cell;
  vertical-align: middle;
}
  .pendstate .pendstateinner:last-child {
    padding-left: 50px;
  }
.pendstate .pendstateinner p{
  padding: 10px 0px;
  margin-bottom: 0;
}
  
  /* Media Query */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  }

@media screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) and (max-width: 1279px) {
  .arrow-steps .step {
    min-width: 155px;
    font-size: 13px;
  }

  .rowver .rowverchild {
    padding: 2px 52px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  .arrow-steps .step {
    min-width: 185px;
  }

  .rowver .rowverchild {
    padding: 2px 80px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .arrow-steps .step {
    min-width: 193px;
  }

  .rowver .rowverchild {
    padding: 2px 85px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .arrow-steps .step {
    min-width: 220px;
  }

  .rowver .rowverchild {
    padding: 2px 83px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .arrow-steps .step {
    min-width: 230px;
  }

  .rowver .rowverchild {
    padding: 2px 104px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2500px) {
  .custom-container-dashboard {
    padding: 0px 50px;
  }

  .arrow-steps .step {
    min-width: 258px;
  }

  .rowver .rowverchild {
    padding: 2px 116px;
  }
}

